<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>fbauth2</string>
            <string>fbauth</string>
        </array>
        <key>MOBAppKey</key>
        <string>2330c3893daa8</string>
        <key>MOBAppSecret</key>
        <string>6115bf438366cc7ecdc2576318b33bad</string>
    </dict>
</plist>
